.calculator {
  width: 50%;
  text-align: center;
  background-color: #80A485;
  border: 5px solid #DABFFF;
  margin: 5% auto 5% auto;
}

#about-me {
  background-color: #DABFFF;
  margin: 0 auto 5% auto;
  text-align: center;
  padding: 1%;
  line-height: 50%;
}
#name {
  font-size: 300%;
}
#about-me .link img {
  max-width: 2%;
  max-height: 2%;
  padding-left: 1%;
}

.calculations-stack {
  min-height: 20px;
  max-height: 400px;
  overflow-y: scroll;
  width: 80%;
  margin: 2% auto 2% auto;
  background-color: #DABFFF;
}


.calculation {
  background-color: #DABFFF;
  text-align: center;
  margin: auto;
}

.operand-input {
  display: inline;
}

.operators-select {
  display: inline;
}

.calculation hr {
  width: 70%;
  color: #80A485;
  background-color: #80A485;
  height: 1px;
}
